@page
@model GarciaShop.Web.Pages.PedidoModel
@{
}

<h1>Lista de Pedidos</h1>
<a class="btn btn-success" asp-page="/CrearPedido">Crear Pedido</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre del Cliente</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pedidos)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NombreCliente</td>
                <td>@item.Fecha</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-route-id="@item.Id" asp-page="/EditarPedido">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-route-id="@item.Id" asp-page="/EliminarPedido">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>